* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline: 0 none;
}
html {
		max-height: 100%;
		min-height:100%;
		background: url(img/background.jpg) no-repeat;
		background-size: cover;
	}
a {
	text-decoration: none;
}
.header {
	background-color: transparent;
	height: 53px;
	color: #000;
}
.header .wrapper-menu {
	margin: 0 40px;
}
.header .wrapper-menu .nav {
	width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 53px;
}
.header .wrapper-menu .nav .nav-middle a {
	margin: 0 30px;
}
.header .wrapper-menu .nav .item {
	font-weight: 700;
	font-size: 13px;
	color: #000;
}
.container {
	padding-top: 16vh;
    text-align: center;
}