<div class="header">
    <div class="wrapper-menu">
        <div class="nav">
            <h1>WA</h1>
            <div class="nav-middle">
                <a class="item">HOME</a>
                <a class="item" routerLink="/gallery">GALLERY</a>
            </div>
            <div class="nav-right">
                <a href="#" class="item">SIGN IN</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="wraper-content">
        <div class="content">
            <h2>Hello To The World</h2>
            <p>WELLCOME TO  MY  GALLERY</p>
            <div class="group-link"></div>
            <a mat-raised-button routerLink="#">Go Now</a>
            <a mat-raised-button routerLink="#">Go Now</a>
            <a mat-raised-button routerLink="#">Go Now</a>
            <a mat-raised-button routerLink="#">Go Now</a>
            <a mat-raised-button routerLink="#">Go Now</a>
        </div>
    </div>
</div>